.location {
    padding-top: 100px;
    min-height: 300px;
    &__wrapper {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
        width: 85%;
        height: 60%;
        backdrop-filter: blur(10px) brightness(70%);
        color: #fff;
        letter-spacing: 2px;
    }
    &__img {
        height: 600px;
        background: url('/img/location.webp') no-repeat 50% / cover fixed;
        background-position: 10% 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    address {
        font-family: "Viaoda Libre", serif;
        font-weight: 400; 
        text-transform: none;
        font-size: clamp(26px, 4vw, 44px);
        text-wrap: pretty;
        margin-top: 10px;
        text-decoration: none;
    }
}

@media (hover:none) {
    .location {
        &__img {
            background: url('/img/location.webp') no-repeat 50% / cover scroll;
        }
    }
}