.programm {
    text-align: center;
    padding-top: 80px;
    &__wrapper {
        display: grid;
        grid-template-columns: 110px 230px;
        grid-template-rows: repeat(4, minmax(170px, auto));
        grid-auto-rows: minmax(170px, auto);
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-top: 30px;
        max-width: 500px;
    }
    &__img {
        max-height: 60px;
        max-width: 60px;
        justify-self: center;
    }
}